body {
    /* background-color: #97e2f0; */
    background-image: url("../img/bg/bg-lines.png");
    background-repeat: repeat-y;
    background-size: initial;
    font-family: "sans-serif";
}

.container {
    width: 1224px;
    margin-left: auto;
    margin-right: auto;
    /* height: 100px; */
    /* background-color: #2156c2; */
}

.relative {
    position: relative;
}