.slide-item {
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.slide-item__desc {
    width: 500px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.slide-item__heading {
    color: #0b0c11;
    font-family: 'Playfair Display', serif;
    font-size: 62px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 14px;

    span {
        display: block;
        color: rgba(93, 168, 239, 0.9);
        font-family: 'League-Spartan-Bold', sans-serif;
        font-size: 9px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 5.4px;
        margin-bottom: 20px;
    }
}

.slide-item__text {
    color: #8f8f8f;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
        p {
    width: 389px;
        }
}

.slide-item__img {
    width: 1016px;
    height: 572px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.slide-item__img--bg1 {
    background-image: url("../img/img/img-header.jpg");
}
